{% extends "main.html" %}
{% block style %}
        .custom-btn {
            background-color: #EA5455;
            font-weight: bold;
        }
    body {
            background-color: #2A2A2B;
            color: white;
        }
        h3, h4 {
            text-align: center;
        }
    a{
    }
{% endblock %}
{%  block back %}
{% endblock %}
{% block content %}
    <div class="container">
        <h3 class="mt-5">Witaj na stronie WineCellar!</h3>
        <h4>Co chciałbyś dziś wypić?</h4>
        <div class="d-flex justify-content-center">
            <a class="btn btn-danger mr-3" href="{{url_for('shops')}}">Zobacz sklepy w znajdujące się w naszej bazie</a>
            <a class="btn btn-danger" href="{{url_for('wines')}}">Powiedz nam jakie wino chciałbyś wypić my je dla ciebie znajdziemy!</a>
        </div>
    </div>
{% endblock %}