{% extends "main.html" %}
{% block style %}
    h1, a {
    color: #EA5455;
    }

    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 150px;
    }
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Witamy w</h1>
        <img src="../static/img/logo.svg" alt="dupa">
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('login') }}" class="btn btn-danger mr-3">Logowanie</a>
            <a href="{{ url_for('register') }}" class="btn btn-secondary">Rejestracja</a>
        </div>
    </div>
{% endblock %}