{% extends "main.html" %}

{% block style %}
    .more a{
    color: aliceblue;
    font-size: 12px;
    }
    td{
    color: aliceblue;
    }
    th{
    color: aliceblue;
    }

{% endblock %}
    {% block scripts %}

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs7UtztlVDEZtUey4m--mY5-m9y-gR1NQ"></script>
    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {{shop. szer_geogr}}, lng: {{shop. dl_geogr}}},
                zoom: 16
            });
            var marker = new google.maps.Marker({
                position: {lat: {{shop. szer_geogr}}, lng: {{shop. dl_geogr}}}, // Example latitude and longitude
                map: map
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{{ shop.nazwa }}</h1>
<body onload="initMap()">
<div class="container">

    <div id="map" style="width: 100%; height:500px;"></div>
</div>
<h3>Asortyment</h3>
<table id="winesTable" class="table table-striped">
    <thead>
    <tr>
        <th>Nazwa produktu</th>
        <th>Liczba sztuk</th>
        <th>Typ produktu</th>
        <th>Kraj pochodzenia</th>
        <th>Region</th>
        <th>Rocznik</th>
        <th>Szczep</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.nazwa_produktu }}</td>
            <td>{{ product.liczba_sztuk }}</td>
            <td>{{ product.typ_produktu}}</td>
            <td>{{ product.kraj_pochodzenia }}</td>
            <td>{{ product.region }}</td>
            <td>{{ product.rocznik }}</td>
            <td>{{ product.szczep }}</td>
            <td> <div class="more"> <a class="btn btn-lg custom-btn" href="/product/{{ product.kod_produktu }}">Zobacz więcej</a></div></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}