{%  extends "main.html" %}
{% block scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs7UtztlVDEZtUey4m--mY5-m9y-gR1NQ"></script>
    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {{shop. szer_geogr}}, lng: {{shop. dl_geogr}}},
                zoom: 16
            });
            var marker = new google.maps.Marker({
    position: {lat: {{shop. szer_geogr}}, lng: {{shop. dl_geogr}}}, // Example latitude and longitude
    map: map
});
        }
    </script>
{% endblock %}
{% block content %}
<body onload="initMap()">
 <input type="button" class="btn btn-danger" value="Wstecz!" onclick="history.go(-1)">
<div class="container">
    <h1>{{ shop.nazwa_sklepu }}</h1>
    <div id="map" style="width: 100%; height:500px;"></div>
</div>
{% endblock %}